
.equipe { /* This is used to set the font used throught the equipe */
    /* font-family: 'Montserrat', sans-serif; */
    margin: 0;
    padding: 0.625rem; /* 10px */
    display: flex;
    flex-direction: column;
}

.divTexto { /* This class is used to style the Title text of the page: Quem nos somos */
    justify-content: center;
    align-items: center;

}
.textoEquipe {  /* This class is used to style the Title text of the page: Quem nos somos */
    font-size: 3rem; /* 50px */
}

.colorEquipe { /* This class is used to change the color of some of the Title text of the page  */
    color: #FEC400;
}

.about { /* This class is used to style the description text of the page under the Title */
    justify-content: center;
    font-size: 1.5rem; /* 24px */

}
.avatarContainer { /* This class is used to style the images of the page */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin-bottom: 1.25rem; /* 20px */
    
}
.avatar { /* This class is used to style the images of the page */
    padding: 0.625rem; 
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;

}
.membersContainer { /* This class is used to style the container of the images of the page */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem; /* 20px */
    margin-top: 3rem; /* 20px */
}
.memberContainer { /* This class is used to style the container of the images of the page */
    display: flex;
    flex-direction: column;
    align-items: center;

}
.cargo{
    color: #6c757d;
    font-size: 0.8rem; /* 12px */
}